beheer
                                                                        ﺔﺒﻗﺍﺮﻣ
контрол
styring
Steuerung
έλεγχος
controlar
kontroll
                                                                         ﻝﺮﺘﻨﮐ
contrôle
հսկողություն
kontrol
コントロール
제어
kontrolléieren
ຄວບຄຸມ
controle
kontroll
kontrola
контроль
ควบคุม
kontrol
kontrol
控制
