naamruimte
                                                          ﻢﺳﻻ﻿ﺍ ﺔﺣﺎﺴﻣ
пространство от имена
navnerum
Namespace
χώρος ονομάτων
espacio de nombres
nimeruumi
                                                            ﻡﺎﻧ ﯼﺎﻀﻓ
espace de noms
անվանում
namespace
名前空間
네임 스페이스
Nummraum
namespace
naamruimte
namespace
przestrzeń nazw
Пространство имен
namespace
namespace
ad
命名空间
